@page "/"

<PageTitle>Home</PageTitle>

<SectionContent SectionId="RCL.Layout.MainLayout.TopBarSection">
	<h1>Home</h1>
</SectionContent>
<h1>Hello, world!</h1>

<p>
	Welcome to Finite State Machine Designer where you can draw Finite State Machines for a system.
</p>
<p>
	I made this project based on <a href="https://madebyevan.com/fsm/">Evan Wallace's Finite State Machine Designer</a>
	that I used to draw State Machines during my time in University.
</p>
<p>
	I also used some added features from 
	<a href="https://www.cs.unc.edu/~otternes/comp455/fsm_designer/">Nathan Otterness's Finite State Machine Designer</a>.
</p>
<p>
	With an account you can save FSMs remotely without having to store them locally.
</p>
