@media screen and (min-width: 1100px) {
    .date-created-col, .date-modified-col {
        width: 11em;
    }
}

h2 {
    text-decoration: underline;
}

.button-row-inputs {
    width: 100%;
}

.fsm-query-input {
    width: 89%
}

.display-current-drawn-fsm {
    width: 13em;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-row-grid {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    justify-items: center;
    height: min-content;
}

.fsm-list-container {
    table-layout: fixed;
    text-wrap: nowrap;
    width: 100%;
    margin-top: 1em;
    border: solid 3px #ffffff;
    line-height: 2em;
}

    .fsm-list-container tbody tr {
        border-top: solid 1px #ffffff;
    }

    .fsm-list-container tr {
        td, th

{
    border-right: solid 1px #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    cursor: pointer;
}

}

.fsm-list-container tr {
    td: last-child, th:last-child {
        border-right: none;
    }
}

.delete-button-cell:active {
    background-color: #ffffff54;
}