@inherits LayoutComponentBase
@layout RCL.Layout.MainLayout
@inject NavigationManager NavigationManager

<SectionContent SectionId="RCL.Layout.MainLayout.TopBarSection">
    <h1>Account Management</h1>
</SectionContent>
@if (HttpContext is null)
{
    <Loading Width="20em" Height="20em" Style="border-width: 1em"/>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
