#FSMCanvas {
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto;
    cursor: default;
    border-style:solid;
    border-color:black;
    border-width:thin;
}

.canvas-top-buttons {
    position: sticky;
    z-index: 2;
    top: 0.75rem;
}

.center {
    text-align: center;
}

.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}