#FSMCanvas {
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto;
    cursor: default;
    border-style:solid;
    border-color:black;
    border-width:thin;
}

.center {
    text-align: center;
}

.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}