@using Helper

<div class="top-row" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Style { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
