@media (min-width: 1120px) {
    .canvas-designer-container {
        align-items: center;
    }
}

.top-bar-title {
    width: 100%;
}

.instruction {
    margin: 30px auto;
    text-align: left;
    max-width: 800px;
}

p {
    margin: 30px 0;
    line-height: 20px;
}

textarea {
    display: none;
    width: 75%;
    height: 400px;
    margin: 0 auto;
}

.canvas-designer-container {
    display: flex;
    flex-direction: column;
}