#FSMCanvas {
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto;
    cursor: default;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: var(--bg-colour);
}

.canvas-top-buttons {
    display: flex;
    align-items: center;
    position: sticky;
    width: fit-content;
    align-self: end;
    z-index: 2;
    top: 0.75rem;
    margin-right: 2rem;
}

.center {
    text-align: right;
}

.canvas-form {
    padding: 5px;
    border: 2px solid var(--border-colour); 
    border-radius: 5px;
}

.canvas-name-group {
    width: fit-content;
}

.canvas-name {
    width: 30em;
}

.canvas-desc-group {
    text-align: left;
    display: grid;
}

.canvas-desc-label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#canvasDesc {
    resize:both;
}

.canvas-details {
    position: relative;
    bottom: 2.3em;
    left: 2rem;
    width: fit-content;
    align-self: flex-start;
}

.canvas-details-button {
    width: fit-content;
    list-style: none;
    text-align: right;
    border: 2px solid var(--border-colour);
    padding: 5px;
    border-radius: 5px;
}

#json-upload {
    display: none
}

.export-select {
    height: 2.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.canvas-button {
    padding-top: 0.25em;
    margin-right: 0.5em;
    padding-bottom: 0.25em;
    height: 2.5em;
}

.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}

.remove-link-style {
    color: #000000;
    text-decoration: none;
}

form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.scale-input {
    width: 4.5em;
}

option {
    color: var(--bg-colour);
}
