@media (min-width: 1200px) {
    .canvas-top-buttons {
        position: sticky;
        top: 0.75rem;
        margin-right: 2rem;
        align-items: center;
        align-self: end;
    }

    .canvas-details {
        position: relative;
        bottom: 2.3em;
        left: 2rem;
        align-self: flex-start;
    }

    #FSMCanvas {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1119px) {
    .canvas-top-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .upload-json {
        text-wrap: nowrap;
    }

    .canvas-btn-group {
        display: flex;
        margin-bottom: 0.5rem;
        width: fit-content;
    }

    .canvas-details {
        display: flex;
        flex-direction: column;
    }
}

#FSMCanvas {
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: default;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: var(--bg-colour);
}

.canvas-top-buttons {
    display: flex;
    width: fit-content;
    z-index: 2;
}

.center {
    text-align: right;
}

.canvas-form {
    padding: 5px;
    border: 2px solid var(--border-colour); 
    border-radius: 5px;
}

.canvas-name-group {
    width: fit-content;
}

.canvas-info-group {
    text-align: left;
    display: grid;
}

.canvas-info-label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#canvasDesc {
    resize:both;
}

.canvas-details {
    
    width: fit-content;
}

.canvas-details-button {
    width: fit-content;
    list-style: none;
    text-align: right;
    border: 1px solid var(--border-colour);
    padding: 5px;
    border-radius: 5px;
}

#json-upload {
    display: none
}

.export-select {
    height: 2.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.canvas-button {
    padding-top: 0.25em;
    margin-right: 0.5em;
    padding-bottom: 0.25em;
    height: 2.5em;
}

.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}

.remove-link-style {
    color: #000000;
    text-decoration: none;
}

form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.scale-input {
    width: 4.5em;
}

option {
    color: var(--bg-colour);
}
