@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveWebAssembly

<PageTitle>Auth</PageTitle>
<SectionContent SectionId="MainLayout.TopBarSection">
    <h1>You are authenticated</h1>
</SectionContent>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
