@page "/MyFSMs"
@using Microsoft.AspNetCore.Authorization
@inherits ModuleCheckBaseComponent
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>My State Machines</PageTitle>
<SectionContent SectionId="MainLayout.TopBarSection">
    <h1>Finite State Machines</h1>
</SectionContent>

<h2>saveCurrent is set to @SaveCurrent</h2>

@code
{
    [SupplyParameterFromQuery]
    [Parameter]
    public bool SaveCurrent { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetJsModule("./Components/MyFSMs.razor.js");
            if (CheckJsModule(JsModule))
            {
                await JsModule.InvokeVoidAsync("console.log", SaveCurrent);
            }
        }
    }
}