@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <!--
        When placing custom components in layout components keep in mind that the generated attribute while
        debugging or in production will be different from the attribute that the produced css selectors will try to match.
        for example - .shrek-life[a-sdav490ai8n0era]
    -->

    <main class="dark-mode">
        <div class="top-row dark-mode-top-row">
            <SectionOutlet SectionId="TopBarSection" />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public static Object? TopBarSection = new();
}